<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		Compañía de Luz
	</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body class="container">
    <center>
        <div class="p-3 text-primary-emphasis bg-primary border border-primary-subtle rounded-3">
            <h1>
                Compañía de Luz
            </h1>
            <picture><img src="https://preciogas.com/sites/preciogas.com/files/styles/article_hero/public/images/copia_de_copia_de_light_and_gas_bg_guides_0.png?itok=XQbuSkV8" alt="Prueba 1" style="width: 50%; border-radius: 10px;"></picture>
        </div>
    </center>