    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid justify-content-center">
            <div>
                <div class="navbar-nav">
                    <p class="nav-link">Acerca de</p>
                    <a href="/" class="nav-link">Pago de recibo</a>
                    <p class="nav-link">Contactos</p>
                </div>
            </div>
        </div>
    </nav>