<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>
<section>
    <div id="formulario" style="border: solid gainsboro;"">
        <center>
        <form action="/" method="post">
            <br>
            <div class="form-group">
                <label for="">Número de Recibo: </label>
                <input type="number" name="recibo" id="recibo" required value=<%=recibo%>>
            </div>
            <br>
            <div class="form-group">
                <label for="">Nombre: </label>
                <input type="text" name="nombre" id="nombre" required value=<%=nombre%>>
            </div>
            <br>
            <div class="form-group">
                <label for="">Domicilio: </label>
                <input type="text" name="domicilio" id="domicilio" required value=<%=domicilio%>> 
            </div>
            <br>
            <div class="form-group">
                <label for="">Tipo de Servicio: </label>
                <select name="servicio" id="servicio" required value=<%=servicio%>>
                    <option value="Domicilio">Domicilio</option>
                    <option value="Comercial">Comercial</option>
                    <option value="Industrial">Industrial</option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="">Kilowatts consumidos: </label>
                <input type="number" name="kw" id="kw" required value=<%=kw%>>
            </div>
            <br>
            <button class="btn btn-primary" type="submit">Enviar Información</button>
            <button class="btn btn-secondary" type="reset"><a href="/" style="color: black; text-decoration: none;">Limpiar</a></button>
            <br>
        </form>
        </center>
    </div>
</section>
<%-include('partials/footer.ejs')%>