<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>
<%
    let costoKw;
    switch(servicio){
        case 'Domicilio': costoKw = 1.08; break;
        case 'Comercial': costoKw = 2.5; break;
        case 'Industrial': costoKw = 3.0; break;
    }
    const subTotal = costoKw * kw;
    const impuesto = subTotal * 0.16;
    let descuento;
    if(kw <= 1000) descuento = subTotal * 0.10;
    else if(kw <= 10000) descuento = subTotal * 0.20;
    else if(kw > 10000) descuento = subTotal * 0.50;
    const total = subTotal + impuesto - descuento;
    %>
<section>
    <table class="table">
        <thead>
            <tr style="text-align:center;">
                <th scope="col">No. de Recibo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo de Servicio</th>
                <th scope="col">KiloWatts Conumidos</th>
                <th scope="col">Costo por kW</th>
            </tr>
            <tbody style="text-align:center;">
                <tr>
                    <th scope="row"><%=recibo%></th>
                    <td><%=nombre%></td>
                    <td><%=servicio%></td>
                    <td><%=kw%></td>
                    <td>$<%=costoKw%> /kW</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Subtotal:</td>
                    <td>$<%=subTotal%></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Impuesto: </td>
                    <td>+ $<%=impuesto%></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Descuento: </td>
                    <td>- $<%=descuento%></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="font-weight: bold;">Total a Pagar: </td>
                    <td>$<%=total%></td>
                </tr>
            </tbody>
        </thead>
    </table>
</section>
<%-include('partials/footer.ejs')%>