<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>
<section>
    <br>
    <form action="/alumnos" method="post">
        <input type="number" name="matricula" id="matricula" placeholder="matricula" required>
        <input type="text" name="nombre" id="nombre" placeholder="nombre" required>
        <input type="text" name="domicilio" id="domicilio" placeholder="domicilio" required>
        <input type="text" name="sexo" id="sexo" placeholder="sexo" required>
        <input type="text" name="especialidad" id="especialidad" placeholder="especialidad" required>
        
        <div style="float: right;margin-right: 5.5 rem; margin-top: 1 rem;">
            <button type="submit">Enviar Información</button>
        </div>
    </form>
    <br>
    <div class="container">
        <table class="table table-hover">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Matricula</th>
                <th scope="col">Nombre</th>
                <th scope="col">Domicilio</th>
                <th scope="col">Sexo</th>
                <th scope="col">Especialidad</th>
            </tr>
            <% for(var i=0; i < reg.length; ++i){ %>
                <tr>
                    <td><%=reg[i].idAlumnos%></td>
                    <td><%=reg[i].matricula%></td>
                    <td><%=reg[i].nombre%></td>
                    <td><%=reg[i].domicilio%></td>
                    <td><%=reg[i].sexo%></td>
                    <td><%=reg[i].especialidad%></td>
                </tr>
                <% } %>
        </table>
    </div>

</section>
<%-include('partials/footer.ejs')%>