<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>
<section>
    <div id="formulario">
        <center>
        <form action="/cotizacion" method="post">
            <br>
            <label for="">Valor del Automovil: </label>
            <input type="number" name="valor" id="valor" required value=<%=valor%>> <br>
            <label for="">Porcentaje de Pago Inicial: </label>
            <input type="number" name="pinicial" id="pinicial" required value=<%=pinicial%>> <br>
            <label for="">Plazos: </label>
            <select name="plazos" id="plazos" required value=<%=plazos%>>
                <option value="12">12 Meses</option>
                <option value="24">24 Meses</option>
                <option value="36">36 Meses</option>
                <option value="48">48 Mese<s/option>    
                <option value="60">60 Meses</option>
            </select>
            <br>
            <br>
            <button type="submit">Calcular</button>
            <button type="reset"><a href="/cotizacion" style="color: black; text-decoration: none;">Limpiar</a></button>
            <br>
            <br>
        </form>
        <% 
            let titulo = ""
            let pagoInicialMsj= "";
            let totalFinanciarMsj="";
            let pagoMensualMsj="";
            if(valor != null){
                titulo = "COTIZACIÓN"
                pagoInicial = valor * pinicial / 100;
                totalFinanciar = valor - pagoInicial;
                pagoMensual = totalFinanciar / plazos;
                pagoInicialMsj = `Pago Inicial: \$${pagoInicial}`;
                totalFinanciarMsj = `Total a Financiar\: $${totalFinanciar}`;
                pagoMensualMsj = `Pago Mensual: \$${pagoMensual}`;
            }
        %>
        <h3><%=titulo%></h3>
        <h6><%=pagoInicialMsj%></h6>
        <h6><%=totalFinanciarMsj%></h6>
        <h6><%=pagoMensualMsj%></h6>
        <br>
    </center>
    </div>
</section>
<%-include('partials/footer.ejs')%>