	<%-include('partials/header.ejs')%>
	<%-include('partials/nav.ejs')%>
	<section>
	<center>
		<br>
		<form action="/tabla" method="post">
			<label for="tabla">Tabla</label>
			<input type="number" id="numero" name="numero" required value=<%=numero%>>
			<button type=" submit">Enviar</button>
			<button type="reset"><a href="/tabla" style="color: black; text-decoration: none;">Limpiar</a></button>
		
			<% let res=0; if(numero!=null){ for (con=1; con <=10; ++con) { res=con* numero; %>
				<h3>
					<%=numero%> * <%=con%> = <%=res%>
				</h3>
			<%} } %>
		</form>
		<br>
	</center>
	</section>
	<%-include('partials/footer.ejs')%>